/* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version */

@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Quicksand:wght@500;700&family=Kaushan+Script&display=swap");

:root {
  --html-bg: #fff;
  --filter: none;
  --filter2: none;
  --bg: url("/images/bg.svg");
  --couch: url("/images/couch.svg");
  --bird1: url("/images/bird1.svg");
  --bird2: url("/images/bird2.svg");
  --bird-opacity: 0.6;
  --cloud-opacity: 1;
  --computer: url("/images/computer.svg");
  --hover-color: rgba(141, 141, 141, 0.2);
  --text: #f8f8ff;
  --text2: #303030;
  --icon-color: #8d8d8d;
  --email-color: #be2623;
  --linkedin-color: #0077b5;
  --github-color: #24292e;
}
.dark {
  --html-bg: #6276b4;
  --filter: brightness(0.9);
  --filter2: brightness(0.95);
  --bg: url("/images/bg2.svg");
  --couch: url("/images/couch2.svg");
  --bird1: url("/images/star1.svg");
  --bird2: url("/images/star1.svg");
  --bird-opacity: 0.4;
  --cloud-opacity: 0.4;
  --computer: url("/images/computer2.svg");
  --hover-color: rgba(248, 248, 255, 0.2);
  --text: #303030;
  --text2: #f8f8ff;
  --icon-color: #f5f5ff;
  --email-color: #f5f5ff;
  --linkedin-color: #f5f5ff;
  --github-color: #f5f5ff;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  width: 8px;
  background: #c3c3c3;
}
::-webkit-scrollbar-thumb {
  background: #a1a1a1;
  border-radius: 25px;
}
::-webkit-scrollbar-thumb:hover {
  background: #646464;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Quicksand", cursive, sans-serif;
  color: #303030;
  color: var(--text2);
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  scrollbar-width: thin;
}
html {
  background: #f8f8ff;
  background: var(--html-bg);
  -webkit-filter: var(--filter);
  filter: var(--filter);
  -webkit-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
html,
body {
  overflow: hidden;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
p:not(a p),
h1,
h2,
h3,
li {
  cursor: default;
}
img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 100%;
  height: calc(100vh - 52px);
}
nav ul {
  margin-left: -5%;
  padding: 40px 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  row-gap: 20px;
  -webkit-column-gap: 5%;
  -moz-column-gap: 5%;
  column-gap: 5%;
  width: 100%;
}
nav li {
  position: relative;
}
nav p {
  font-family: "Caveat", cursive;
  color: #f8f8ff;
  color: var(--text);
  -webkit-transition: font-weight 0.3s ease-in-out, color 0.3s ease-in-out,
    -webkit-transform 0.3s ease-in-out;
  transition: font-weight 0.3s ease-in-out, color 0.3s ease-in-out,
    -webkit-transform 0.3s ease-in-out;
  -o-transition: font-weight 0.3s ease-in-out, transform 0.3s ease-in-out,
    color 0.3s ease-in-out;
  transition: font-weight 0.3s ease-in-out, transform 0.3s ease-in-out,
    color 0.3s ease-in-out;
  transition: font-weight 0.3s ease-in-out, transform 0.3s ease-in-out,
    color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
nav li > p {
  position: absolute;
  top: 0;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 120px;
  height: 80px;
  color: #303030;
  color: var(--text2);
  font-size: 1.6rem;
  font-weight: bold;
  background-image: url("/images/underline.png");
  background-repeat: no-repeat;
  background-position: 3px 90%;
  -webkit-animation: underline 0.5s ease-in-out forwards;
  animation: underline 0.5s ease-in-out forwards;
}
nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 2.1rem;
  -webkit-transition: height 0.5s ease-in-out, width 0.5s ease-in-out;
  -o-transition: height 0.5s ease-in-out, width 0.5s ease-in-out;
  transition: height 0.5s ease-in-out, width 0.5s ease-in-out;
}
nav a:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
nav a:hover p {
  font-weight: bold;
}
.projects a,
.about a,
.contact a {
  width: 150px;
  height: 150px;
}
.home a {
  width: 300px;
  height: 150px;
  background: -o-linear-gradient(315deg, #f8bb49, #f72867);
  background: linear-gradient(135deg, #f8bb49, #f72867);
  text-align: center;
  border-radius: 41% 59% 35% 65% / 43% 43% 57% 57%;
}
.about a {
  background: -o-linear-gradient(225deg, #e3a3ed, #785af2);
  background: linear-gradient(225deg, #e3a3ed, #785af2);
  border-radius: 39% 61% 65% 35% / 74% 67% 33% 26%;
  -webkit-animation: wave1 6.5s ease-in-out infinite;
  animation: wave1 6.5s ease-in-out infinite;
}
.projects a {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#8dde96),
    to(#26c4bf)
  );
  background: -o-linear-gradient(top, #8dde96, #26c4bf);
  background: linear-gradient(180deg, #8dde96, #26c4bf);
  border-radius: 58% 42% 69% 31% / 26% 59% 41% 74%;
  -webkit-animation: wave2 6s ease-in-out infinite;
  animation: wave2 6s ease-in-out infinite;
}
.contact a {
  background: -o-linear-gradient(315deg, #58c9ea, #4b4bbf);
  background: linear-gradient(135deg, #58c9ea, #4b4bbf);
  border-radius: 64% 36% 53% 47% / 65% 36% 64% 35%;
  -webkit-animation: wave3 5.5s ease-in-out infinite;
  animation: wave3 5.5s ease-in-out infinite;
}
#bg {
  z-index: -2;
  position: fixed;
  width: 110vw;
  height: 110vh;
  opacity: 0.8;
  background: -o-linear-gradient(315deg, #58c9ea, #4b4bbf);
  background: linear-gradient(135deg, #58c9ea, #4b4bbf);
  background-image: url("/images/bg.svg");
  background-image: var(--bg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
#bg > * {
  position: absolute;
}
.bird {
  opacity: 0.6;
  opacity: var(--bird-opacity);
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: background 0.5s ease-in-out;
  -o-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}
.cloud {
  opacity: var(--cloud-opacity);
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.bird,
.cloud {
  -webkit-filter: blur(2px);
  filter: blur(2px);
}
#bird1 {
  top: 11%;
  left: 10%;
  width: 75px;
  height: 23px;
  background-image: url("/images/bird1.svg");
  background-image: var(--bird1);
}
#bird2 {
  top: 54%;
  left: 19%;
  width: 60px;
  height: 18.4px;
  background-image: url("/images/bird1.svg");
  background-image: var(--bird1);
}
#bird3 {
  top: 59%;
  left: 23%;
  width: 80px;
  height: 22px;
  background-image: url("/images/bird2.svg");
  background-image: var(--bird2);
}
#bird4 {
  top: 14%;
  left: 86%;
  width: 60px;
  height: 18.4px;
  background-image: url("/images/bird1.svg");
  background-image: var(--bird1);
}
#bird5 {
  top: 26%;
  left: 78%;
  width: 70px;
  height: 19.25px;
  background-image: url("/images/bird2.svg");
  background-image: var(--bird2);
}
#cloud1 {
  top: 28%;
  left: 13%;
  width: 260px;
  -webkit-animation: cloud1 7s ease-in-out infinite;
  animation: cloud1 7s ease-in-out infinite;
}
#cloud2 {
  top: 49%;
  left: 66%;
  width: 290px;
  -webkit-animation: cloud1 6s ease-in-out infinite;
  animation: cloud1 6s ease-in-out infinite;
}
#cloud3 {
  top: 69%;
  left: 10%;
  width: 160px;
  -webkit-animation: cloud2 8s ease-in-out infinite;
  animation: cloud2 8s ease-in-out infinite;
}
.contain {
  background-size: contain;
  background-repeat: no-repeat;
}
#couch {
  position: relative;
  z-index: -1;
  background-image: url("/images/couch.svg");
  background-image: var(--couch);
  -webkit-filter: var(--filter2);
  filter: var(--filter2);
  width: 50%;
  padding-top: 32%;
  -webkit-transition: background 0.5s ease-in-out;
  -o-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
  opacity: 0;
  -webkit-animation: fade-in 0.5s ease-in-out forwards;
  animation: fade-in 0.5s ease-in-out forwards;
}
#couch img {
  position: absolute;
}
#girl {
  top: 33%;
  left: 43%;
  width: 17%;
  opacity: 0;
  -webkit-animation: fade-in 1s 0.4s ease-in-out forwards;
  animation: fade-in 1s 0.4s ease-in-out forwards;
}
#cup {
  top: 55%;
  left: 36%;
  width: 4%;
  opacity: 0;
  -webkit-animation: fade-in 1s 0.2s ease-in-out forwards;
  animation: fade-in 1s 0.2s ease-in-out forwards;
}
#bag {
  top: 70.5%;
  right: 19.5%;
  width: 9.5%;
  opacity: 0;
  -webkit-animation: fade-in 1s ease-in-out forwards;
  animation: fade-in 1s ease-in-out forwards;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes wave1 {
  0%,
  100% {
    border-radius: 39% 61% 65% 35% / 74% 67% 33% 26%;
    -webkit-transform: translateY(25px);
    transform: translateY(25px);
  }
  50% {
    border-radius: 72% 28% 34% 66% / 53% 40% 60% 47%;
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
  }
}
@keyframes wave1 {
  0%,
  100% {
    border-radius: 39% 61% 65% 35% / 74% 67% 33% 26%;
    -webkit-transform: translateY(25px);
    transform: translateY(25px);
  }
  50% {
    border-radius: 72% 28% 34% 66% / 53% 40% 60% 47%;
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
  }
}
@-webkit-keyframes wave2 {
  0%,
  100% {
    border-radius: 58% 42% 69% 31% / 26% 59% 41% 74%;
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  50% {
    border-radius: 32% 68% 25% 75% / 57% 47% 53% 43%;
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
  }
}
@keyframes wave2 {
  0%,
  100% {
    border-radius: 58% 42% 69% 31% / 26% 59% 41% 74%;
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  50% {
    border-radius: 32% 68% 25% 75% / 57% 47% 53% 43%;
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
  }
}
@-webkit-keyframes wave3 {
  0%,
  100% {
    border-radius: 64% 36% 53% 47% / 65% 36% 64% 35%;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  50% {
    border-radius: 31% 69% 35% 65% / 47% 56% 44% 53%;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
@keyframes wave3 {
  0%,
  100% {
    border-radius: 64% 36% 53% 47% / 65% 36% 64% 35%;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  50% {
    border-radius: 31% 69% 35% 65% / 47% 56% 44% 53%;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
@-webkit-keyframes grow {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(25);
    transform: scale(25);
    opacity: 0.1;
  }
}
@keyframes grow {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(25);
    transform: scale(25);
    opacity: 0.1;
  }
}
@-webkit-keyframes grow2 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(25);
    transform: scale(25);
    -webkit-filter: brightness(0.9);
    filter: brightness(0.9);
    -webkit-filter: var(--filter);
    filter: var(--filter);
  }
}
@keyframes grow2 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(25);
    transform: scale(25);
    -webkit-filter: brightness(0.9);
    filter: brightness(0.9);
    -webkit-filter: var(--filter);
    filter: var(--filter);
  }
}
@-webkit-keyframes underline {
  0% {
    background-size: 0%;
    font-size: 1.6rem;
  }
  100% {
    background-size: 90%;
    font-size: 2.1rem;
  }
}
@keyframes underline {
  0% {
    background-size: 0%;
    font-size: 1.6rem;
  }
  100% {
    background-size: 90%;
    font-size: 2.1rem;
  }
}
@-webkit-keyframes underline-mobile {
  0% {
    background-size: 0%;
    font-size: 1.1rem;
  }
  100% {
    background-size: 90%;
    font-size: 1.3rem;
  }
}
@keyframes underline-mobile {
  0% {
    background-size: 0%;
    font-size: 1.1rem;
  }
  100% {
    background-size: 90%;
    font-size: 1.3rem;
  }
}
@-webkit-keyframes cloud1 {
  0%,
  100% {
    -webkit-transform: translate(-10px, -15px);
    transform: translate(-10px, -15px);
  }
  50% {
    -webkit-transform: translate(15px, 10px);
    transform: translate(15px, 10px);
  }
}
@keyframes cloud1 {
  0%,
  100% {
    -webkit-transform: translate(-10px, -15px);
    transform: translate(-10px, -15px);
  }
  50% {
    -webkit-transform: translate(15px, 10px);
    transform: translate(15px, 10px);
  }
}
@-webkit-keyframes cloud2 {
  0%,
  100% {
    -webkit-transform: translate(-15px, 20px);
    transform: translate(-15px, 20px);
  }
  50% {
    -webkit-transform: translate(20px, -15px);
    transform: translate(20px, -15px);
  }
}
@keyframes cloud2 {
  0%,
  100% {
    -webkit-transform: translate(-15px, 20px);
    transform: translate(-15px, 20px);
  }
  50% {
    -webkit-transform: translate(20px, -15px);
    transform: translate(20px, -15px);
  }
}

section {
  display: none;
  padding: 4rem 15%;
  position: relative;
  z-index: 1;
  height: calc(100vh - 100px - 52px);
  overflow: auto;
  opacity: 0;
  -webkit-animation: fade-in 0.5s 0.3s ease-in-out forwards;
  animation: fade-in 0.5s 0.3s ease-in-out forwards;
}
h1 {
  font-family: "Kaushan Script", cursive;
  font-size: 2.1rem;
  text-align: center;
  margin-bottom: 2rem;
}
h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}
li i,
footer i {
  font-size: 1.8rem;
  margin-right: 0.9rem;
}
#about {
  text-align: center;
}
#about ul {
  position: relative;
}
#about li {
  margin-top: 1.5rem;
  line-height: 1.5;
  font-size: 1.1rem;
}
#about li i {
  margin: 0 0.9rem;
  vertical-align: middle;
}
.fa-desktop {
  color: #26c4bf;
}
.fa-code {
  color: #4b4bbf;
}
.fa-book-open {
  color: #785af2;
}
.fa-film {
  color: #f8bb49;
}
.fa-globe-americas {
  color: #58c9ea;
}
#about .buttons a {
  margin: 3rem auto 2rem;
  font-size: 1.1rem;
  background: -o-linear-gradient(45deg, #e3a3ed, #785af2);
  background: linear-gradient(45deg, #e3a3ed, #785af2);
  background: -o-linear-gradient(45deg, #8dde96, #26c4bf);
  background: linear-gradient(45deg, #8dde96, #26c4bf);
}
#about .buttons a:hover {
  background: -o-linear-gradient(225deg, #e3a3ed, #785af2);
  background: linear-gradient(225deg, #e3a3ed, #785af2);
  background: -o-linear-gradient(225deg, #8dde96, #26c4bf);
  background: linear-gradient(225deg, #8dde96, #26c4bf);
}
#about .buttons i {
  font-size: 1.2rem;
  margin-left: 0.3rem;
}
#girl2 {
  position: absolute;
  z-index: -1;
  width: 10%;
  left: 6%;
  bottom: 4rem;
}

#projects {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 2rem 15%;
}
#projects h2 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}
#projects > div {
  display: none;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  max-width: 900px;
  margin: auto;
  padding: 2rem;
  border: 3px solid #8d8d8d;
  border-radius: 25px;
  background: #f8f8ff;
  background: var(--text);
  -webkit-transition: background 0.5s ease-in-out;
  -o-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
  -webkit-animation: fade-in 0.6s ease-in-out forwards;
  animation: fade-in 0.6s ease-in-out forwards;
}
#projects > div *:not(.buttons *) {
  color: var(--text2);
}
.carousel-butons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-column-gap: 5px;
  -moz-column-gap: 5px;
  column-gap: 5px;
  margin-top: 1rem;
}
#computer {
  display: inline-block;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  position: relative;
  width: 25%;
  padding-top: 15%;
  margin-top: auto;
  background-image: url("/images/computer.svg");
  background-image: var(--computer);
  -webkit-transition: background 0.5s ease-in-out;
  -o-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}
button {
  border: none;
  background: none;
  cursor: pointer;
}
#prev,
#next {
  display: -ms-inline-grid;
  display: inline-grid;
  place-items: center;
  width: 50px;
  height: 50px;
  margin-top: -30px;
  border-radius: 50%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
#prev i,
#next i {
  color: #8d8d8d;
  color: var(--icon-color);
  font-size: 1.8rem;
}
#prev:hover,
#next:hover {
  background-color: rgba(141, 141, 141, 0.2);
  background-color: var(--hover-color);
}
#prev:hover i,
#next:hover i {
  color: #303030;
}
.dots {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 5%;
  width: 90%;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  background-color: #f8c547;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.active,
.dot:hover {
  background-color: #f71d69;
}
.img-container {
  position: relative;
  width: 44%;
  padding-top: 22%;
  margin: 0.4rem 2% 1rem 0;
  background: #8d8d8d;
  border: 0.5px solid #8d8d8d;
  border-radius: 2px;
}
.img-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#projects .details {
  -ms-flex-preferred-size: 54%;
  flex-basis: 54%;
  margin-bottom: 1rem;
}
.details > * {
  margin-top: 1rem;
  line-height: 1.5;
}
.details p:first-of-type {
  margin-top: 0;
}
.tech {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 5px;
  width: 80%;
}
.tech span {
  border-radius: 25px;
  border: 1px solid #8d8d8d;
  padding: 0.2rem 0.6rem;
}
summary {
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
details ol {
  list-style: decimal inside;
  opacity: 0;
  -webkit-animation: fade-in 0.5s ease-in-out forwards;
  animation: fade-in 0.5s ease-in-out forwards;
}
.buttons {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-column-gap: 2%;
  -moz-column-gap: 2%;
  column-gap: 2%;
}
.buttons a {
  position: relative;
  padding: 0.8rem 1.2rem;
  font-weight: bold;
  white-space: nowrap;
  border-radius: 25px;
  color: #f8f8ff;
  color: var(--text);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.buttons a::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.buttons a:hover::after {
  opacity: 1;
}
.buttons i {
  margin-right: 0.3rem;
  color: #f8f8ff;
  color: var(--text);
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
#projects .buttons a:first-of-type {
  background: -o-linear-gradient(315deg, #8dde96, #26c4bf);
  background: linear-gradient(135deg, #8dde96, #26c4bf);
}
#projects .buttons a:last-of-type {
  background: -o-linear-gradient(225deg, #e3a3ed, #785af2);
  background: linear-gradient(225deg, #e3a3ed, #785af2);
}
#projects .buttons a:first-of-type:hover {
  background: -o-linear-gradient(135deg, #8dde96, #26c4bf);
  background: linear-gradient(315deg, #8dde96, #26c4bf);
}
#projects .buttons a:last-of-type:hover {
  background: -o-linear-gradient(45deg, #e3a3ed, #785af2);
  background: linear-gradient(45deg, #e3a3ed, #785af2);
}

#contact {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  row-gap: 10%;
  text-align: center;
}
#contact h2 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}
#contact div {
  -ms-flex-preferred-size: 38%;
  flex-basis: 38%;
  min-width: 200px;
  font-size: 1.1rem;
}
#contact h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-column-gap: 0.9rem;
  -moz-column-gap: 0.9rem;
  column-gap: 0.9rem;
  line-height: 1;
  margin-bottom: 1rem;
}
#contact h3 i,
#contact * {
  color: var(--text2);
}

#contact a,
footer a {
  -webkit-transition: font-weight 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: font-weight 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: font-weight 0.3s ease-in-out, color 0.3s ease-in-out;
}
#contact i {
  font-size: 1.6rem;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
#contact .fa-external-link-alt {
  font-size: 0.9rem;
  color: #8d8d8d;
  color: var(--icon-color);
  vertical-align: middle;
}
#contact a:hover,
footer a:hover {
  font-weight: bold;
}
#contact a:hover i {
  color: #303030;
  color: var(--text2);
}
#email h3 i {
  color: #be2623;
  color: var(--email-color);
}
#linkedin h3 i {
  color: #0077b5;
  color: var(--linkedin-color);
}
#github h3 i {
  color: #24292e;
  color: var(--github-color);
}
#girl3 {
  position: absolute;
  z-index: -1;
  width: 10%;
  right: 6%;
  bottom: 4rem;
}
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem;
  text-align: right;
  font-size: 0.8rem;
  line-height: 1.4;
}
footer * {
  color: var(--text2);
}
footer i {
  color: #8d8d8d;
  color: var(--icon-color);
  font-size: 2rem;
}
.social {
  -ms-flex-preferred-size: 37%;
  flex-basis: 37%;
  text-align: left;
}
.linkedin {
  margin-left: 1rem;
}
.linkedin:hover i {
  color: #0077b5;
}
.github:hover i {
  color: #24292e;
}
#theme i {
  opacity: 0;
  -webkit-animation: fade-in 0.5s ease-in-out forwards;
  animation: fade-in 0.5s ease-in-out forwards;
}
.fa-moon:hover {
  color: #000;
}
.fa-sun:hover {
  color: #f8c547;
}

@media screen and (orientation: portrait) {
  nav ul {
    padding: 20px 0.5rem;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 0;
  }
  .home {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .home a {
    margin: auto;
  }
  #couch {
    width: 95%;
    padding-top: 60.83%;
  }
  #girl2 {
    position: relative;
    left: -10%;
    bottom: 0;
    width: 30%;
  }
  #girl3 {
    position: relative;
    right: -5%;
    bottom: 0;
    width: 30%;
  }
}
@media screen and (min-width: 390px) {
  #couch {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 900px) {
  nav ul {
    padding: 20px 0.5rem;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-column-gap: 1%;
    -moz-column-gap: 1%;
    column-gap: 1%;
    margin-left: 0;
  }
  nav a {
    font-size: 1.6rem;
    -webkit-transition: unset;
    -o-transition: unset;
    transition: unset;
  }
  .home {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .projects a,
  .about a,
  .contact a {
    width: 120px;
    height: 100px;
  }
  .home a {
    width: 240px;
    height: 100px;
    margin: auto;
  }
  nav li > p {
    width: 60px;
    height: 40px;
    font-size: 1.1rem;
    background-position: 0px bottom;
    -webkit-animation: underline-mobile 0.5s ease-in-out forwards;
    animation: underline-mobile 0.5s ease-in-out forwards;
  }
  #couch {
    width: 95%;
    padding-top: 60.83%;
  }
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  section {
    padding: 2rem 5%;
    height: calc(100vh - 60px - 52px);
  }
  #about li {
    margin-top: 2rem;
    font-size: 1rem;
  }
  #girl2 {
    position: relative;
    left: -10%;
    bottom: 0;
    width: 30%;
  }
  #projects {
    padding: 1rem 5%;
  }
  #projects > div {
    padding: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .img-container {
    width: 80%;
    padding-top: 40%;
    margin: 0 auto 1rem;
  }
  #computer {
    width: 60%;
    padding-top: 36%;
  }
  #contact h2 {
    margin-bottom: 0;
  }
  #contact div {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  #girl3 {
    position: relative;
    right: -5%;
    bottom: 0;
    width: 30%;
  }
}
@media screen and (max-width: 640px) {
  section {
    height: calc(100vh - 60px - 42px);
  }
  #projects {
    padding: 1rem 2%;
  }
  .img-container {
    width: 100%;
    padding-top: 50%;
  }
  footer {
    line-height: 1;
  }
  footer i {
    font-size: 1.6rem;
    margin-right: 5px;
  }
  .linkedin {
    margin-left: 0;
  }
}
@media screen and (min-width: 2560px) {
  @-webkit-keyframes grow {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    100% {
      -webkit-transform: scale(40);
      transform: scale(40);
      opacity: 0.1;
    }
  }
  @keyframes grow {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    100% {
      -webkit-transform: scale(40);
      transform: scale(40);
      opacity: 0.1;
    }
  }
  @-webkit-keyframes grow2 {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    100% {
      -webkit-transform: scale(40);
      transform: scale(40);
      -webkit-filter: brightness(0.9);
      filter: brightness(0.9);
      -webkit-filter: var(--filter);
      filter: var(--filter);
    }
  }
  @keyframes grow2 {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    100% {
      -webkit-transform: scale(40);
      transform: scale(40);
      -webkit-filter: brightness(0.9);
      filter: brightness(0.9);
      -webkit-filter: var(--filter);
      filter: var(--filter);
    }
  }
}
